@font-face{
    font-family: Arvo;
    src: url(https://www.canva.com/learn/best-professional-fonts-use-website/);
}
body
{
	font-family: Arvo,serif;
	color: #F1F7ED ;
	background-color: #7CA982;

	margin-left: 175px;
	margin-right: 175px;
}

header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1, h2, h3
{
	font-family: Arvo, serif;
	text-align: center;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color: #F1F7ED;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: #C2A83E;
}

figure
{
	text-align: center;
}

img {  
    max-width: 50%;  
    height: 50%;  
    }  

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}
th, td
{
	border: 1px solid black;
	padding: .5em .5em .5em .5em;
	text-align: left;
	vertical-align: middle;
}
th, tfoot
{
	background-color: #243E36;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.buttons{
	background-color: #243E36;
	border: black;
	color: #F1F7ED
}


